nlp/text-classification/examples/data/ag_news/
nlp/text-classification/examples/data/books/
nlp/text-classification/examples/data/nmt/
nlp/text-classification/examples/data/surnames/
nlp/text-classification/examples/data/yelp/